<div class="container">
  <div class="mt-4">
    <div class="about text-center d-flex justify-content-center">
      <h3 class="text-wrap" [innerHTML]="text"></h3>
    </div>
  </div>
  <div class="project">
    <div class="content-section">
      <div class="content-section-title">Project</div>
      <ul>
        <li class="adobe-product">
          <div class="d-flex">
            <div class="products">
              <img src="assets/project/vize.png">
            </div>
            <span class="content-section-title my-auto">Vize</span>
          </div>
          <div class="button-wrapper">
            <a href="https://aivize.it/" target="_blank"><button class="content-button status-button open">Open</button></a>
          </div>
        </li>
        <li class="adobe-product">
          <div class="d-flex">
            <div class="products">
              <img src="assets/project/vize.png">
            </div>
            <span class="content-section-title my-auto">Vize</span>
          </div>
          <div class="button-wrapper">
            <a href="https://github.com/abhinavsingwal/weather_app" target="_blank"><button class="content-button status-button open">Open</button></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
