<div class="container d-flex flex-column overflow-auto">
  <div class="py-2">
    <div class="about text-center d-flex justify-content-center">
      <h5 class="text-wrap m-auto" [innerHTML]="text"></h5>
    </div>
  </div>
  <div class="pb-4 project">
    <div class="content-section">
      <div class="content-section-title">Project</div>
      <ul>
        <li class="adobe-product">
          <div class="d-flex">
            <div class="products">
              <img src="{{mode === 'dark'? 'assets/project/vize.png' : 'assets/project/vize-black.png'}}" alt="vize">
            </div>
            <h6 class="content-section-title my-auto">Vize</h6>
          </div>
          <div class="button-wrapper">
            <a href="https://aivize.it/" target="_blank"><button class="content-button status-button open">Open</button></a>
          </div>
        </li>
<!--        <li class="adobe-product">-->
<!--          <div class="d-flex">-->
<!--            <div class="products">-->
<!--              <img src="assets/project/vize.png">-->
<!--            </div>-->
<!--            <span class="content-section-title my-auto">Vize</span>-->
<!--          </div>-->
<!--          <div class="button-wrapper">-->
<!--            <a href="https://github.com/abhinavsingwal/weather_app" target="_blank"><button class="content-button status-button open">Open</button></a>-->
<!--          </div>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</div>
