<div class="row">
  <div class="section mb-4 col-lg-8">
    <div class="content-section chart-section">
      <div class="content-section-title">Skill</div>
      <ul>
        <li class="p-4 text-center align-items-center align-content-center">
          <canvas baseChart
                  [datasets]="config.datasets"
                  [options]="config.options"
                  [labels]="config.labels"
                  [legend]="false"
                  [type]="'radar'">
          </canvas>
        </li>
      </ul>
    </div>
  </div>
  <div class="section mb-4 col-lg-4">
    <div class="content-section mb-4">
      <div class="content-section-title">Soft skill</div>
      <ul>
        <li *ngFor="let skill of softSkill" class="adobe-product">
          <div class="d-flex">
            <div class="products me-2">
              <i class="{{skill.icon}}"></i>
            </div>
            <h6 class="content-section-title my-auto">{{skill.name}}</h6>
          </div>
        </li>
      </ul>
    </div>
    <div class="content-section">
      <div class="content-section-title">Interest</div>
      <ul>
        <li *ngFor="let int of interest" class="adobe-product">
          <div class="d-flex">
            <div class="products me-2">
              <i class="{{int.icon}}"></i>
            </div>
            <h6 class="content-section-title my-auto">{{int.name}}</h6>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
