<div *ngIf="loading">
  <app-loader></app-loader>
</div>
<div *ngIf="loading === false" id="main" class="container main">
  <div class="d-flex justify-content-between mt-4">
    <div class="d-flex">
      <h4 (click)="switchTab('home')" [ngClass]="tab === 'home'? 'tab_active' : 'tab'" class="position-relative me-4">HOME</h4>
      <h4 (click)="switchTab('about')" [ngClass]="tab === 'about'? 'tab_active' : 'tab'" class="position-relative">ABOUT</h4>
    </div>
    <div (click)="switchMode()">
      <h4><i [ngClass]="mode === 'dark'? 'bi bi-moon-fill' : 'bi bi-brightness-high-fill' "></i></h4>
    </div>
  </div>
  <div *ngIf="tab === 'home'">
    <app-home></app-home>
  </div>
  <div *ngIf="tab === 'about'">
    <app-about></app-about>
  </div>
</div>
