<div *ngIf="loading">
  <app-loader></app-loader>
</div>
<div *ngIf="loading === false" id="main" class="main">
  <div class="container d-flex justify-content-between header">
    <div class="d-flex">
      <h4 (click)="switchTab('home')" [ngClass]="tab === 'home'? 'tab_active' : 'tab'" class="position-relative me-4">HOME</h4>
      <h4 (click)="switchTab('about')" [ngClass]="tab === 'about'? 'tab_active' : 'tab'" class="position-relative me-4">ABOUT</h4>
      <h4 (click)="switchTab('skill')" [ngClass]="tab === 'skill'? 'tab_active' : 'tab'" class="position-relative">SKILL</h4>
    </div>
    <div (click)="switchMode()">
      <h4><i [ngClass]="mode === 'dark'? 'bi bi-moon-fill' : 'bi bi-brightness-high-fill' "></i></h4>
    </div>
  </div>
  <div class="container content">
    <div *ngIf="tab === 'home'">
      <app-home></app-home>
    </div>
    <div *ngIf="tab === 'about'">
      <app-about [mode]="mode"></app-about>
    </div>
    <div *ngIf="tab === 'skill'">
      <app-skill [mode]="mode"></app-skill>
    </div>
  </div>
</div>
