<div class="profile_box">
  <div class="profile_container">
    <div class="profile"></div>
    <div class="back"></div>
  </div>
  <div class="profile_infos">
    <h1 class="title name">Gianluca Nobile</h1>
    <h2 class="occupation">Software Developer</h2>
  </div>
  <div class="social-menu">
    <ul>
      <li><a href="https://www.instagram.com/gianlu982/" target="blank"><i class="bi bi-instagram"></i></a></li>
      <li><a href="https://www.linkedin.com/in/gianluca-nobile-55232823a" target="_blank" ><i class="bi bi-linkedin"></i></a></li>
      <li><a href="https://github.com/gianluca-nobile/" target="blank"><i class="bi bi-github"></i></a></li>
    </ul>
  </div>
</div>
