<div class="profile_box">
  <div class="profile_container">
    <div class="profile"></div>
    <div class="back"></div>
  </div>
  <div class="profile_infos">
    <h1 class="title name">Gianluca Nobile</h1>
    <h2 class="occupation">Software Developer</h2>
  </div>
  <div class="social-menu">
    <ul>
      <li><a href="https://twitter.com/" target="blank"><i class="bi bi-instagram"></i></a></li>
      <li><a href="https://www.pinterest.com" target="blank"><i class="bi bi-linkedin"></i></a></li>
    </ul>
  </div>
</div>
