/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body{
  --text-color: #1f1f1f;
  --bg-color: #ececec;
  --primary-color: #f84f63;
  --secondary-color: #f8792b;
  --box-shadow: 0 8px 16px rgb(248 121 43 / 25%)
}

.dark body{
  --text-color: #ececec;
  --bg-color: #1f1f1f;
  --primary-color: #8079f0;
  --secondary-color: #82abf2;
  --box-shadow: 0 8px 16px rgb(130 171 242 / 25%)
}

:root{
  --white: #ececec;
  --black: #1f1f1f;
  --orange: #f84f63;
  --purple: #8079f0;
}

.title{
  font-family: "Poppins", sans-serif !important;
  font-weight: 700;
}

body{
  overflow: hidden;
  background-color: var(--bg-color);
}

h4{
  color: var(--text-color);
}

h3{
  color: var(--text-color);
}

h1{
  color: var(--text-color);
}

i{
  color: var(--text-color);
}

/* ----- start loader style -----*/

.circle{
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

/* ----- start tab style -----*/

.tab_active::before{
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  box-shadow: var(--box-shadow);
}

.tab::before{
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  box-shadow: var(--box-shadow);
}

/* ----- start profile style -----*/

.back{
  background-color: transparent;
  box-shadow: 10px 10px 0  var(--primary-color) , -10px -10px 0  var(--secondary-color);
}

.occupation{
  color: var(--primary-color);
}

/* ----- start social style -----*/

.social-menu ul li{
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  box-shadow: var(--box-shadow);
}
